
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FDFAF6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.cards{
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card{
  margin: 10px;
  background-color: #EDE4E0;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}


.cardImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 25px;
}

.card button {
  margin-top: 0.5rem;
}

.entry-item {
  background-color: white;
  padding: 2rem;
  margin: 1rem;
}

.entry-item img {
  width: 75%
}


.new_entry_form{
  max-width: 500px;
  margin: 2rem auto;
  border: 2px solid #9BA17B;
  padding: 2rem;
  
}

.title {
  text-align: center
}

label {
  display: block
}

input, textarea {
  display: block;
  width: 100%;
}

#submit{
  border: 0;
  background-color: #F0EBCE;
  padding: 0.5rem; 
}


