
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FDFAF6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: #DFE8CC;
}

nav a {
  display: inline-block;
  padding: 0.25rem;
  margin: 1rem;
  text-decoration: none;
  font-size: 1.2em;
  color: #3F4E4F;
  border-bottom: 2px solid #A27B5C;
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: #A27B5C;
  border-bottom: 2px solid #F6E3C5;
}

nav a.active {
  background-color: #A27B5C;
  color: white;
}

.cards {
  list-style: none;
}

.card {
  margin: 1rem;
}

.card img {
  width: 100%;
}

.card button {
  margin-top: 0.5rem;
}

  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }

.entry-item {
  background-color: white;
  padding: 2rem;
  margin: 1rem;
}

.entry-item img {
  width: 75%
}


.new_entry_form{
  max-width: 500px;
  margin: 2rem auto;
  border: 2px solid #9BA17B;
  padding: 2rem;
  
}

.title {
  text-align: center
}

label {
  display: block
}

input, textarea {
  display: block;
  width: 100%;
}

#submit{
  border: 0;
  background-color: #F0EBCE;
  padding: 0.5rem; 
}



.card{
  overflow: hidden;
  box-shadow: 0 2px 20px #e1e5ee;
  border-radius: radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  cursor: pointer;
  transition: transform 200ms ease-in;
}



