body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FDFAF6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: #DFE8CC;
}

nav a {
  display: inline-block;
  padding: 0.25rem;
  margin: 1rem;
  text-decoration: none;
  font-size: 1.2em;
  color: #3F4E4F;
  border-bottom: 2px solid #A27B5C;
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: #A27B5C;
  border-bottom: 2px solid #F6E3C5;
}

nav a.active {
  background-color: #A27B5C;
  color: white;
}
